.border {
	border: 2px groove;
}

#chart, #chart2 {
	height		: 500px;
}

#chartdiv, .chart_wrapper {
	width		: 100%;
	height		: 500px;
	font-size	: 11px;
	float       : left;
}

.header {
    margin-top:10px;
    margin-left:36%;
    font-weight: bold;
}

.amcharts-main-div a{
	display:none !important;
}
 h2{
 	line-height: 2.111;
 	color:white;
 }
 
table {
   border-collapse: collapse; 
    margin-left:3%;
    margin-bottom: 5%;
}
th {
  background: #f8f8f8; 
  font-weight: bold;    
    padding: 2px;
}
 
table, td, th {
    border: 1px solid black;
    text-align: center;
}

.mw_header{
	 font-family: Arial Black;
	 padding-left:20px
}